# Data acquisition and Basic Descriptions

In [1]:
# Importing Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [2]:
# Importing the dataset
url = 'https://raw.githubusercontent.com/zzzhimin/DSAI-Mini-Project/master/AviationData.csv'
baseData = pd.read_csv(url,encoding = "ISO-8859-1")

In [3]:
baseData.shape

(84262, 31)

In [4]:
baseData.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,2019-12-31,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,2019-12-31,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,08/01/2020
2,20200102X54844,Accident,ANC20CA011,2019-12-31,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,02/01/2020
3,20191230X91852,Accident,CEN20CA048,2019-12-30,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,2019-12-28,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,03/01/2020

In [5]:
baseData.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                  float64
Longitude                 float64
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.Damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.Flight          object
Air.Carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.Phase.of.Flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [6]:
baseData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84262 entries, 0 to 84261
Data columns (total 31 columns):
Event.Id                  84262 non-null object
Investigation.Type        84257 non-null object
Accident.Number           84262 non-null object
Event.Date                84262 non-null object
Location                  84185 non-null object
Country                   83755 non-null object
Latitude                  30163 non-null float64
Longitude                 30154 non-null float64
Airport.Code              47723 non-null object
Airport.Name              50439 non-null object
Injury.Severity           84262 non-null object
Aircraft.Damage           81553 non-null object
Aircraft.Category         27508 non-null object
Registration.Number       80412 non-null object
Make                      84192 non-null object
Model                     84163 non-null object
Amateur.Built             83653 non-null object
Number.of.Engines         79228 non-null float64
Engine.Type               80006 non-null object
FAR.Description           27206 non-null object
Schedule                  11843 non-null object
Purpose.of.Flight         79382 non-null object
Air.Carrier               4169 non-null object
Total.Fatal.Injuries      57059 non-null float64
Total.Serious.Injuries    54384 non-null float64
Total.Minor.Injuries      55592 non-null float64
Total.Uninjured           69673 non-null float64
Weather.Condition         81159 non-null object
Broad.Phase.of.Flight     77654 non-null object
Report.Status             84262 non-null object
Publication.Date          69947 non-null object
dtypes: float64(7), object(24)
memory usage: 19.9+ MB

In [7]:
baseData.describe() #Description of numeric data

,Latitude,Longitude,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,30163.000000,30154.000000,79228.000000,57059.000000,54384.000000,55592.000000,69673.000000
mean,37.544907,-93.508337,1.146930,0.847614,0.331715,0.518708,5.901325
std,12.370282,39.454412,0.447004,6.292468,1.375602,2.771339,29.534302
min,-78.016945,-178.676111,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.307778,-114.861042,1.000000,0.000000,0.000000,0.000000,0.000000
50%,38.125278,-94.371667,1.000000,0.000000,0.000000,0.000000,1.000000
75%,42.524723,-81.650278,1.000000,1.000000,0.000000,1.000000,2.000000
max,89.218056,179.618611,8.000000,349.000000,111.000000,380.000000,699.000000

In [8]:
#description of non numeric data
for i in baseData:
    if baseData[i].dtypes != 'float64':
        print(baseData[i].describe(), '\n\n')

count              84262
unique             83035
top       20100204X45658
freq                   3
Name: Event.Id, dtype: object


count        84257
unique           2
top       Accident
freq         80814
Name: Investigation.Type, dtype: object


count           84262
unique          84262
top       LAX06LA065A
freq                1
Name: Accident.Number, dtype: object


count          84262
unique         13718
top       2000-07-08
freq              25
Name: Event.Date, dtype: object


count             84185
unique            26575
top       ANCHORAGE, AK
freq                372
Name: Location, dtype: object


count             83755
unique              179
top       United States
freq              78849
Name: Country, dtype: object


count     47723
unique    10019
top        NONE
freq       1473
Name: Airport.Code, dtype: object


count       50439
unique      23863
top       PRIVATE
freq          217
Name: Airport.Name, dtype: object


count         84262
unique          128
top       Non-Fatal
freq          63516
Name: Injury.Severity, dtype: object


count           81553
unique              3
top       Substantial
freq            60839
Name: Aircraft.Damage, dtype: object


count        27508
unique          13
top       Airplane
freq         23569
Name: Aircraft.Category, dtype: object


count     80412
unique    72557
top        NONE
freq        368
Name: Registration.Number, dtype: object


count      84192
unique      8022
top       CESSNA
freq       17782
Name: Make, dtype: object


count     84163
unique    11938
top         152
freq       2332
Name: Model, dtype: object


count     83653
unique        2
top          No
freq      75570
Name: Amateur.Built, dtype: object


count             80006
unique               13
top       Reciprocating
freq              68026
Name: Engine.Type, dtype: object


count                         27206
unique                           18
top       Part 91: General Aviation
freq                          21600
Name: FAR.Description, dtype: object


count     11843
unique        3
top         UNK
freq       4099
Name: Schedule, dtype: object


count        79382
unique          22
top       Personal
freq         47204
Name: Purpose.of.Flight, dtype: object


count                4169
unique               3030
top       UNITED AIRLINES
freq                   49
Name: Air.Carrier, dtype: object


count     81159
unique        3
top         VMC
freq      74257
Name: Weather.Condition, dtype: object


count       77654
unique         12
top       LANDING
freq        20625
Name: Broad.Phase.of.Flight, dtype: object


count              84262
unique                 4
top       Probable Cause
freq               77216
Name: Report.Status, dtype: object


count          69947
unique          3956
top       31/03/1993
freq             452
Name: Publication.Date, dtype: object

# Extraction and Data Cleanup

In [9]:
aviationData = pd.DataFrame(baseData[['Latitude', 'Longitude', 'Injury.Severity', 'Aircraft.Damage', 'Aircraft.Category', 'Number.of.Engines', 'Engine.Type', 'FAR.Description', 'Purpose.of.Flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition', 'Broad.Phase.of.Flight', 'Amateur.Built']])

In [10]:
#We will only be studying Proffessional Built airplane data
aviationData = aviationData[aviationData['Aircraft.Category'] == 'Airplane']
aviationData = aviationData[aviationData['Amateur.Built'] == 'No']
aviationData.dtypes

Latitude                  float64
Longitude                 float64
Injury.Severity            object
Aircraft.Damage            object
Aircraft.Category          object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Purpose.of.Flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.Phase.of.Flight      object
Amateur.Built              object
dtype: object

In [11]:
#Enter 0 in the numeric fields that are represented by NaN
for i in aviationData:
    if(aviationData[i].dtypes == 'float64' and i != 'Latitude' and i != 'Longitude'):
        aviationData[i] = aviationData[i].fillna(0)

In [12]:
#Removing the rows with incomplete data that will be relevant to the task 
aviationData = aviationData.dropna()

In [13]:
#Removing rows where the passenger and injury data is incomplete
for index, row in aviationData.iterrows():
    if(row['Total.Uninjured'] + row['Total.Serious.Injuries'] + row['Total.Fatal.Injuries'] + row['Total.Minor.Injuries'] == 0):
        aviationData = aviationData.drop(index)

In [14]:
#Dealing with redundancies and incomplete rows in the data
for i in aviationData:
    if(aviationData[i].dtypes != 'float64'):
        aviationData[i] = aviationData[i].str.upper()
        
for index, row in aviationData.iterrows():
    if(row['Injury.Severity'] != 'NON-FATAL' and row['Injury.Severity'] != 'INCIDENT'):
        aviationData.at[index, 'Injury.Severity'] = 'FATAL'
        
for index, row in aviationData.iterrows():
    if(row['Number.of.Engines'] == 0):
        aviationData.at[index, 'Number.of.Engines'] = 1

In [15]:
#Converting select numeric data to type int
for i in aviationData:
    if(aviationData[i].dtypes == 'float64' and i != 'Latitude' and i != 'Longitude'):
        aviationData[i] = aviationData[i].astype('int64')

In [16]:
#Cleaning rows that do not contain the relevant data
for index, row in aviationData.iterrows():
    if(row['Broad.Phase.of.Flight'] == 'UNKNOWN' or row['Broad.Phase.of.Flight'] == 'OTHER'):
        aviationData = aviationData.drop(index)

In [17]:
#Adding total passengers which is the sum of the below shown 4 columns
aviationData['Total.Passengers'] = 0;
for index, row in aviationData.iterrows():
    totalPassengers = row['Total.Uninjured'] + row['Total.Serious.Injuries'] + row['Total.Fatal.Injuries'] + row['Total.Minor.Injuries']
    aviationData.at[index, 'Total.Passengers'] = totalPassengers

In [18]:
#Using the given data in the dataset to determine the approximate altitude of the airplane during the accident

import requests
import urllib

# USGS Elevation Point Query Service
url = r'https://nationalmap.gov/epqs/pqs.php?'

# create data frame
df = pd.DataFrame({
    'lat': aviationData['Latitude'][:1],
    'lon': aviationData['Longitude'][:1]
})

def elevation_function(df, lat_column, lon_column):
    """Query service using lat, lon. add the elevation values as a new column."""
    elevations = []
    for lat, lon in zip(df[lat_column], df[lon_column]):

        # define rest query params
        params = {
            'output': 'json',
            'x': lon,
            'y': lat,
            'units': 'Meters'
        }

        # format query string and return query value
        result = requests.get((url + urllib.parse.urlencode(params)))
        elevations.append(result.json()['USGS_Elevation_Point_Query_Service']['Elevation_Query']['Elevation'])

    df['elev_meters'] = elevations

elevation_function(df, 'lat', 'lon')
df.head()

         lat         lon  elev_meters
0  39.128611 -123.715833        40.24

In [19]:
aviationData = pd.read_csv('new.csv')

In [20]:
aviationData = aviationData.rename(columns={'altitude (m)': 'Altitude'})

In [21]:
#Dropping latitude and longitude as this is no longer required
aviationData = aviationData.drop(['Latitude', 'Longitude', 'Make', 'Model', 'Amateur.Built', 'Aircraft.Category'], axis = 1)

In [22]:
aviationData

,Altitude,Injury.Severity,Aircraft.Damage,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.Flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Total.Passengers
0,41.2,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,0,1,VMC,TAKEOFF,1
1,321.3,FATAL,DESTROYED,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,2,0,0,0,VMC,TAKEOFF,2
2,10.8,FATAL,DESTROYED,2,TURBO PROP,PART 91: GENERAL AVIATION,EXECUTIVE/CORPORATE,5,2,2,0,IMC,TAKEOFF,9
3,176.9,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,INSTRUCTIONAL,0,0,0,2,VMC,LANDING,2
4,1.4,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,0,2,VMC,CRUISE,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12023,12.2,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,2,0,VMC,CRUISE,2
12024,146.9,FATAL,DESTROYED,2,TURBO PROP,PART 91: GENERAL AVIATION,BUSINESS,4,0,0,0,VMC,TAKEOFF,4
12025,128.4,NON-FATAL,DESTROYED,2,TURBO JET,PART 91: GENERAL AVIATION,EXECUTIVE/CORPORATE,0,2,0,0,VMC,LANDING,2
12026,240.8,FATAL,DESTROYED,2,TURBO FAN,PART 91: GENERAL AVIATION,INSTRUCTIONAL,3,0,0,0,VMC,APPROACH,3
12027,44.5,FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,UNKNOWN,1,0,0,0,IMC,LANDING,1

In [23]:
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'FIREFIGHTING']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'GLIDER TOW']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'AIR DROP']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'UNKNOWN']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'SKYDIVING']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'INSTRUCTIONAL']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'BANNER TOW']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'AERIAL OBSERVATION']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'AIR RACE/SHOW']
aviationData = aviationData[aviationData['Purpose.of.Flight'] != 'AERIAL APPLICATION']

In [24]:
for index, row in aviationData.iterrows():
    if(aviationData.at[index, 'Purpose.of.Flight'] == 'PUBLIC AIRCRAFT - STATE' or aviationData.at[index, 'Purpose.of.Flight'] == 'PUBLIC AIRCRAFT - FEDERAL' or aviationData.at[index, 'Purpose.of.Flight'] == 'PUBLIC AIRCRAFT - LOCAL'):
        aviationData.at[index, 'Purpose.of.Flight'] = 'PUBLIC AIRCRAFT'

In [25]:
aviationData = aviationData.dropna()

In [26]:
#Reinitializing the index values for the rows to make them ordered and sequential
aviationData.index = range(len(aviationData))

In [27]:
#Altitude estimation based on factors such as flight type, phase of flight, and typical flying altitude at each of these phases
for index, row in aviationData.iterrows():
    if(aviationData.at[index, 'Broad.Phase.of.Flight'] == 'CRUISE' or aviationData.at[index, 'Broad.Phase.of.Flight'] == 'MANEUVERING' or aviationData.at[index, 'Broad.Phase.of.Flight'] == 'GO-AROUND'):
        if(aviationData.at[index, 'Purpose.of.Flight'] == 'Personal'):
            altitude = 12496.8 - aviationData.at[index, 'Altitude']
            if(altitude > 0):
                aviationData.at[index, 'Altitude'] = altitude
        else:
            altitude = 10972 - aviationData.at[index, 'Altitude']
            if(altitude > 0):
                aviationData.at[index, 'Altitude'] = altitude
    
    if(aviationData.at[index, 'Broad.Phase.of.Flight'] == 'APPROACH' or aviationData.at[index, 'Broad.Phase.of.Flight'] == 'DESCENT' or aviationData.at[index, 'Broad.Phase.of.Flight'] == 'CLIMB'):
        altitude = 700 - aviationData.at[index, 'Altitude']
        if(altitude > 0):
            aviationData.at[index, 'Altitude'] = altitude

In [28]:
for index, row in aviationData.iterrows():
    if(aviationData.at[index, 'Altitude'] < 0):
        aviationData.at[index, 'Altitude'] = 0

In [29]:
aviationData

,Altitude,Injury.Severity,Aircraft.Damage,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.Flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Total.Passengers
0,41.2,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,0,1,VMC,TAKEOFF,1
1,321.3,FATAL,DESTROYED,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,2,0,0,0,VMC,TAKEOFF,2
2,10.8,FATAL,DESTROYED,2,TURBO PROP,PART 91: GENERAL AVIATION,EXECUTIVE/CORPORATE,5,2,2,0,IMC,TAKEOFF,9
3,10970.6,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,0,2,VMC,CRUISE,2
4,271.5,NON-FATAL,SUBSTANTIAL,2,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,0,2,VMC,APPROACH,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8960,9246.7,FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,1,0,0,0,VMC,MANEUVERING,1
8961,6.7,FATAL,DESTROYED,1,TURBO PROP,PART 91: GENERAL AVIATION,PERSONAL,2,0,0,0,VMC,TAKEOFF,2
8962,10959.8,NON-FATAL,SUBSTANTIAL,1,RECIPROCATING,PART 91: GENERAL AVIATION,PERSONAL,0,0,2,0,VMC,CRUISE,2
8963,146.9,FATAL,DESTROYED,2,TURBO PROP,PART 91: GENERAL AVIATION,BUSINESS,4,0,0,0,VMC,TAKEOFF,4
8964,128.4,NON-FATAL,DESTROYED,2,TURBO JET,PART 91: GENERAL AVIATION,EXECUTIVE/CORPORATE,0,2,0,0,VMC,LANDING,2

In [30]:
aviationData.to_excel('final.xlsx')